*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    width: 100%;
    
    display: grid;
    grid-template-areas: 
        "lado_esquerdo header header header"
        "lado_esquerdo header2 header2 header2" 
        "lado_esquerdo shorts shorts shorts" 
        "lado_esquerdo centro1 centro1 centro1"
        "lado_esquerdo centro2 centro2 centro2"   
    ;
    gap: 10px;
}

#header{
    background-color: white;
    grid-area: header;
    display: flex;
    height: 50px;
}
#header2{
    background-color: white;
    grid-area: header2;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    color: black;
}
#lado_esquerdo{
    background-color: rgb(255, 255, 255);
    grid-area: lado_esquerdo;
    display: flex;
    flex-direction: column;
}
#lado_esquerdo h2{
    margin-left: 2px;
}
#centro1{
    background-color: rgb(255, 255, 255);
    grid-area: centro1;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0;
}
#centro2{
    background-color: rgb(255, 255, 255);
    grid-area: centro2;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}
#centro3{
    background-color: rgb(224, 224, 224);
    grid-area: centro3;
}
#shorts{
    background-color: white;
    grid-area: shorts;
    justify-content: center;
    align-items: center;
}
/*//////////////////// header style ////////////////////////////////*/
#menuPesquisa{
    display: flex;
    align-items: center;
}
#pesquisar{
    width: 400px;
    height: 40px;
    border-radius: 25px 0px 0px 25px;
    font-size: 12pt;
    text-align: center;
}
#btnPesquisa{
    width: 50px;
    height: 38px;
    border-radius: 0px 25px 25px 0px;
}
#btnLogo{
    width: 90px;
    height: 40px;
}
#btnCriar{
    width: 40px;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
}
#btnNotificacao{
    width: 40px;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
}
#btnPerfil{
    width: 40px;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
}

#menuNotificacao{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

#header2 a{
    text-decoration: none;
    padding: 10px;
    font-size: 14pt; 
    background-color: rgb(231, 230, 230);
    border-radius: 10px 10px 10px 10px;
}
#header2 a:hover{
    background-color: rgb(216, 214, 214);
    border-radius: 10px 10px 10px 10px;
}
#tudo{
    background-color: black;
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.line-left{
    background-color: #000;
    height: 1px;
    width: 220px;
    margin-bottom: 10px;
}
/*////////////////// header style end //////////////////*/

/*//////////////// center style ///////////////////////*/

#videoCentro1{
    width: 400px;
    height: 250px;
    border-radius: 10px 10px 10px 10px;
}
#videoCentro2{
    width: 300px;
    height: 100px;
    margin-bottom: 0vh;
    margin-top: 0vh;
    margin-right: 0vh;
    margin-left: 0vh;
}
#videoCentro3{
    width: 300px;
    height: 100px;
    margin-bottom: 0vh;
    margin-top: 0vh;
    margin-right: 0vh;
    margin-left: 0vh;
}

.imagem-video{
    width: 35px;
    height: 35px;
}

/*//////////////// center style end //////////////////*/

/*//////////////// esquerdo style end //////////////////*/
#lado_esquerdo a{
    text-decoration: none; 
    color: black;
    font-size: 14pt;
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px;
    margin-left: 20px;
}
#lado_esquerdo a:hover{
    background-color: rgb(216, 214, 214);
    border-radius: 10px 10px 10px 10px;
}
#lado_esquerdo h3{
    text-align: left;
}
/*//////////////// esquerdo style end //////////////////*/
